
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Query Builder</title>
    <style>
        .container {
            margin-top: 30px;
        }
        .form-group {
            margin-right: 10px;
            /* margin-bottom: 15px; */
            margin-top: 30px;
            margin-left: 15px;
        }
        .nav-item.ml-auto {
            margin-left: auto;
        }
        .alert {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container"> 
        <h2 class="text-center">Query Builder</h2>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/dashboard">Upload Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="http://127.0.0.1:8000/query_builder">Query Builder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/users">Users</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" id="logout-tab" href="{% url 'logout' %}" role="tab" aria-controls="logout" aria-selected="false">Logout</a>
            </li>
        </ul>


        {% if record_count %}
            <div class="alert alert-success">
                {{ record_count }} records found for the query
            </div>
        {% endif %}

        
        <form id="queryBuilderForm" method="GET" class="form-inline">
            {% csrf_token %}
            
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="domain" placeholder="Domain">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="year_founded" placeholder="Year Founded">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="industry" placeholder="Industry">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="size_range" placeholder="Size Range">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="locality" placeholder="Locaity">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="linkedin_url" placeholder="LinkedIn Url">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="current_employee_estimate" placeholder="current_employee_estimate">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="total_employee_estimate" placeholder="total_employee_estimate">
            </div>
            <div class="form-group w-100 text-center">
                <button type="submit" class="btn btn-primary">Query Data</button>
                <button type="reset" class="btn btn-secondary ml-2" onclick="resetForm()">Reset</button>
            </div>
        </form>
        
        <div id="queryResults" class="mt-3">
            {% if data %}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Domain</th>
                            <th>Year Founded</th>
                            <th>Industry</th>
                            <th>Size Range</th>
                            <th>Locality</th>
                            <th>Country</th>
                            <th>LinkedIn URL</th>
                            <th>Current Employee Estimate</th>
                            <th>Total Employee Estimate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in data %}
                            <tr>
                                <td>{{ record.name }}</td>
                                <td>{{ record.domain }}</td>
                                <td>{{ record.year_founded }}</td>
                                <td>{{ record.industry }}</td>
                                <td>{{ record.size_range }}</td>
                                <td>{{ record.locality }}</td>
                                <td>{{ record.country }}</td>
                                <td>{{ record.linkedin_url }}</td>
                                <td>{{ record.current_employee_estimate }}</td>
                                <td>{{ record.total_employee_estimate }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p></p>
            {% endif %}
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function resetForm() {
            document.getElementById('queryBuilderForm').reset();
            document.getElementById('queryResults').innerHTML = '';
        }
    </script>



</body>
</html>
